@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Anton&display=swap');

body {
}

.wrapper {
background: linear-gradient(to right, #a2dffc, #f6aeff);
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.main {
height: 90vh;
background: transparent;
box-shadow: 0px 23px 60px 13px rgba(0,0,0,0.75);
width: auto;
}

.title-container {
height: 90vh;
background: url("img/bg.jpg") center center no-repeat;
background-size: auto;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
color: rgb(37, 43, 71);

}

.title-container__title {
font-size: 55px;
text-align: auto;
text-shadow: 6px 6px 4px #fdc0eb;
padding-bottom: 150px;
letter-spacing: 2px;
line-height: 1.3;
font-family: 'Alfa Slab One', cursive;
}

.title-container__subtitle {
font-style: italic;
font-weight: 100;
font-size: 40px;
letter-spacing: 1px;
line-height: 1.5;
font-weight: bold;
font-family: "Merriweather", serif;
}

.form-container {
background: url("img/bg2.jpg") center center no-repeat;
background-color: #466481;
height: 90vh;
padding-top: 100px;
padding-left: 50px;

}
input[type="text"] {
background-color: transparent;
border: 0;
border-bottom: solid 2px #2d0080;
width: 30%;
padding-bottom: 4px;
padding-top: 4px;
padding-left: 20px;
color: #000 !important;
font-weight: lighter;
letter-spacing: 2px;
margin-bottom: flex;
margin-right: flex;
font-size: 20px;
}



button {
border: 0;
padding: 8px 20px;
margin: 0 2px;
border-radius: 2px;
font-weight: lighter;
letter-spacing: 1px;
font-size: 15px;
cursor: pointer;
background-color: #2d0080;
color: #fff;
font-weight: 100;
}

button:active {
outline: none;
}

.weather__info {
width: 90%;
font-size: 20px;
font-weight: 200;
letter-spacing: 1px;
}

.weather__key {
color: #2d0080;
border-bottom: solid 2px rgba(255,255,255,0.06);
padding: 10px 0 10px 0;
font-weight: 400;
}

.weather__key:last-child {
border: 0;
}

.weather__value {
color: #fff;
font-weight: 600;
}

.weather__error {
color: #2d0080;
font-size: 15px;
padding: 15px;
letter-spacing: 1px;
font-weight: 400;
}